@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter+Tight:regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #151515;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.blue {
  color: #516EFF;
}

.line {
  margin-bottom: 100px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  height: 1px;
  background-color: #bcbcbc;
}

.home {
  padding: 60px 0px;
}
.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home__content {
  max-width: 518px;
}
.home__title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #516EFF;
  margin-bottom: 20px;
}
.home__text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
.home__subtext {
  font-family: "Inter Tight", sans-serif;
  color: rgba(20, 20, 20, 0.6);
  max-width: 470px;
  font-size: 19px;
  line-height: 150%;
}
.home__info {
  position: relative;
}
.home__icon {
  position: absolute;
  width: 84px;
  height: 84px;
  bottom: -30px;
  right: 0px;
}

.how {
  padding: 64px 0px;
  background-color: #516EFF;
}
.how__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.how__info {
  max-width: 345px;
  color: #fff;
}
.how__title {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 110%;
  margin-bottom: 16px;
}
.how__text {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 145%;
}
.how__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.how__item {
  border-radius: 16px;
  padding: 24px 32px;
  background-color: #fff;
  text-align: center;
  max-width: 240px;
}
.how__desc {
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(20, 20, 20, 0.6);
  line-height: 133%;
}
.how__icon {
  margin-bottom: 16px;
}

.book {
  background-color: #516EFF;
  padding: 88px 0px;
}
.book__container {
  color: #fff;
  text-align: center;
}
.book__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 167%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.book__text {
  font-size: 1.125rem;
  line-height: 167%;
  margin-bottom: 70px;
  max-width: 626px;
  margin-inline: auto;
}
.book__button {
  display: inline;
  padding: 24px 48px;
  border: 2px solid #fff;
  border-radius: 16px;
  padding: 24px 48px;
}

.team {
  padding: 80px 0px;
}
.team__title {
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
}
.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}
.team__item {
  max-width: 250px;
  text-align: center;
}
.team__image {
  margin-bottom: 32px;
}
.team__name {
  line-height: 170%;
}
.team__text {
  font-size: 1rem;
  line-height: 150%;
  color: #777;
}

.header {
  padding-top: 44px;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
}
.header__nav {
  padding-right: 37px;
  border-right: 1px solid #d4d4d8;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
}
.header__link {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 133%;
}
.header__button {
  border-radius: 9px;
  padding: 14px;
  background-color: #516EFF;
}
.header__button-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 133%;
  color: #fff;
}

.us {
  padding: 80px 0px;
}
.us__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
  text-align: center;
}
.us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 72px;
}
.us__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
  padding: 40px 32px;
  background-color: #f8fafc;
  max-width: 384px;
  text-align: center;
}
.us__image {
  margin-bottom: 24px;
}
.us__name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 142%;
  margin-bottom: 12px;
}
.us__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  margin-bottom: 24px;
}
.us__price {
  font-weight: 600;
  line-height: 170%;
  text-transform: uppercase;
}

.about {
  padding: 80px 0px;
}
.about__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
  text-align: center;
  color: #516EFF;
}
.about__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 35px;
}
.about__decor1 {
  position: absolute;
  width: 122px;
  height: 308px;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}
.about__decor2 {
  position: absolute;
  width: 49px;
  height: 152px;
  top: 30px;
  left: 470px;
  z-index: -1;
}
.about__info {
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
  padding: 48px;
  background-color: #f8fafc;
}
.about__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 142%;
  margin-bottom: 20px;
}
.about__subtext {
  font-size: 1rem;
  line-height: 212%;
  letter-spacing: 0.04em;
  color: #777;
}

.contacts {
  padding-top: 110px;
}
.contacts__title {
  font-weight: 600;
  font-size: 4.5625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 50px;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 114px;
}
.contacts__subtext {
  font-family: "Inter Tight", sans-serif;
  max-width: 114px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
}
.contacts__map {
  width: 100%;
  height: 100%;
}
.contacts__map iframe {
  width: 100%;
}
.contacts__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #151515;
}

.item-contacts__name {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: rgba(21, 21, 21, 0.4);
  margin-bottom: 8px;
}
.item-contacts__text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  max-width: 183px;
}