@import url(https://fonts.googleapis.com/css?family=Inter:regular,500,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Inter+Tight:regular,500,600,700,800,900);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: #151515;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 100%;
}

img {
  vertical-align: top;
}

ul,
ol,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

input,
button {
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus,
button:focus {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

._container {
  max-width: 1370px;
  margin: 0 auto;
  padding: 0px 15px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.wrap {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.blue {
  color: #516EFF;
}

.line {
  margin-bottom: 100px;
  width: 100%;
  max-width: 1000px;
  margin-inline: auto;
  height: 1px;
  background-color: #bcbcbc;
}
@media (max-width: 768px) {
  .line {
    margin-bottom: 40px;
  }
}

.split {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all 1.2s ease-out;
  transition: all 1.2s ease-out;
}

.splitVisible {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.home {
  padding: 150px 0px;
}
.home__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}
.home__content {
  max-width: 518px;
  margin: 0 auto;
}
@media (max-width: 528px) {
  .home__content {
    text-align: center;
  }
}
.home__title {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 2.875rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  color: #516EFF;
  margin-bottom: 20px;
}
@media (max-width: 528px) {
  .home__title {
    font-size: 2.1875rem;
  }
}
.home__text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 110%;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}
@media (max-width: 528px) {
  .home__text {
    font-size: 1.375rem;
  }
}
.home__subtext {
  font-family: "Inter Tight", sans-serif;
  color: rgba(20, 20, 20, 0.6);
  max-width: 470px;
  font-size: 19px;
  line-height: 150%;
}
@media (max-width: 528px) {
  .home__subtext {
    font-size: 16px;
  }
}
.home__info {
  position: relative;
  margin: 0 auto;
}
.home__info img {
  width: 100%;
  border-radius: 15px;
}
.home__icon {
  position: absolute;
  width: 84px;
  height: 84px;
  bottom: 0px;
  right: 10px;
  -webkit-animation: 6s linear 1s infinite iconAnimation;
          animation: 6s linear 1s infinite iconAnimation;
  z-index: 2;
}

@-webkit-keyframes iconAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes iconAnimation {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
.swiper {
  max-width: 600px;
}

.how {
  padding: 64px 0px;
  background-color: #516EFF;
}
.how__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 35px;
}
.how__info {
  margin: 0 auto;
  max-width: 345px;
  color: #fff;
}
.how__title {
  font-weight: 600;
  font-size: 2.625rem;
  line-height: 110%;
  margin-bottom: 16px;
}
@media (max-width: 528px) {
  .how__title {
    text-align: center;
    font-size: 2rem;
  }
}
.how__text {
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 145%;
}
@media (max-width: 528px) {
  .how__text {
    font-size: 1.125rem;
    text-align: center;
  }
}
.how__content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 48px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.how__item {
  border-radius: 16px;
  padding: 24px 32px;
  background-color: #fff;
  text-align: center;
  max-width: 240px;
}
.how__desc {
  font-weight: 600;
  font-size: 1.125rem;
  color: rgba(20, 20, 20, 0.6);
  line-height: 133%;
}
.how__icon {
  margin-bottom: 16px;
}

.book {
  background-color: #516EFF;
  padding: 88px 0px;
}
@media (max-width: 528px) {
  .book {
    padding: 40px 0px;
  }
}
.book__container {
  color: #fff;
  text-align: center;
}
.book__title {
  font-weight: 600;
  font-size: 2.25rem;
  line-height: 167%;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .book__title {
    font-size: 1.875rem;
  }
}
@media (max-width: 528px) {
  .book__title {
    font-size: 1.375rem;
  }
}
.book__text {
  font-size: 1.125rem;
  line-height: 167%;
  margin-bottom: 70px;
  max-width: 626px;
  margin-inline: auto;
}
@media (max-width: 528px) {
  .book__text {
    font-size: 16px;
    margin-bottom: 50px;
  }
}
.book__button {
  display: inline;
  padding: 24px 48px;
  border: 2px solid #fff;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .book__button {
    padding: 20px 30px;
    font-size: 16px;
  }
}

.team {
  padding: 80px 0px;
}
@media (max-width: 768px) {
  .team {
    padding: 40px 0px;
  }
}
.team__title {
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
}
@media (max-width: 768px) {
  .team__title {
    font-size: 2rem;
  }
}
.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
}
.team__item {
  max-width: 250px;
  text-align: center;
}
.team__image {
  margin-bottom: 32px;
}
.team__image img {
  max-height: 216px;
  max-width: 216px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.team__name {
  line-height: 170%;
}
.team__text {
  font-size: 1rem;
  line-height: 150%;
  color: #777;
}

.header {
  padding: 44px 0px;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 99;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 528px) {
  .header__logo {
    max-width: 150px;
  }
  .header__logo img {
    width: 100%;
  }
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.header__nav {
  padding-right: 37px;
  border-right: 1px solid #d4d4d8;
}
@media (max-width: 1100px) {
  .header__nav {
    display: none;
  }
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 37px;
}
.header__link {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  line-height: 133%;
}
.header__button {
  border-radius: 9px;
  padding: 14px;
  background-color: #516EFF;
}
@media (max-width: 1100px) {
  .header__button {
    display: none;
  }
}
.header__button-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 133%;
  color: #fff;
}
.header__menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.header__menu span {
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: block;
  width: 50px;
  height: 4px;
  background-color: #516EFF;
}
@media (max-width: 1100px) {
  .header__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-mobile {
  position: fixed;
  width: 100%;
  top: 100px;
  height: 100vh;
  display: none;
  padding: 40px 0px;
  text-align: center;
  z-index: 20;
  background-color: #fff;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform: translateY(-120%);
          transform: translateY(-120%);
}
.header-mobile__nav {
  margin-bottom: 64px;
}
.header-mobile__list li:not(:last-child) {
  margin-bottom: 24px;
}
.header-mobile__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
}
.header-mobile__button {
  display: inline;
  border-radius: 9px;
  padding: 14px;
  background-color: #516EFF;
}
.header-mobile__button-link {
  font-weight: 500;
  font-size: 1rem;
  line-height: 133%;
  color: #fff;
}

@media (max-width: 1100px) {
  .header__menu.active span:nth-child(2) {
    display: none;
  }
  .header__menu.active span:nth-child(1) {
    position: relative;
    left: 0px;
    top: 13px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    margin-bottom: 0;
  }
  .header__menu.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    margin-bottom: 0;
  }
  .header-mobile.active {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    display: block;
  }
}
.us {
  padding: 80px 0px;
}
@media (max-width: 768px) {
  .us {
    padding: 40px 0px;
  }
}
.us__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
  text-align: center;
}
@media (max-width: 768px) {
  .us__title {
    font-size: 2rem;
  }
}
.us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 72px;
}
.us__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
  padding: 40px 32px;
  background-color: #f8fafc;
  max-width: 384px;
  text-align: center;
  min-width: 300px;
}
@media (max-width: 768px) {
  .us__item {
    padding: 20px 15px;
  }
}
.us__image {
  margin-bottom: 24px;
}
.us__name {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 142%;
  margin-bottom: 12px;
}
.us__text {
  font-weight: 500;
  font-size: 1rem;
  line-height: 162%;
  margin-bottom: 24px;
}
.us__price {
  font-weight: 600;
  line-height: 170%;
  text-transform: uppercase;
}

.about {
  padding: 80px 0px;
}
@media (max-width: 528px) {
  .about {
    padding: 40px 0px;
  }
}
.about__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 132%;
  margin-bottom: 8px;
  text-align: center;
  color: #516EFF;
}
@media (max-width: 768px) {
  .about__title {
    font-size: 2rem;
  }
}
.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 55px;
}
@media (max-width: 528px) {
  .about__content {
    gap: 30px;
  }
}
.about__decor1 {
  position: absolute;
  width: 122px;
  height: 308px;
  bottom: -20px;
  left: -20px;
  z-index: -1;
}
@media (max-width: 528px) {
  .about__decor1 {
    display: none;
  }
}
.about__decor2 {
  position: absolute;
  width: 49px;
  height: 152px;
  top: 30px;
  left: 470px;
  z-index: -1;
}
@media (max-width: 528px) {
  .about__decor2 {
    display: none;
  }
}
.about__info {
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 16px;
  padding: 48px;
  background-color: #f8fafc;
  max-width: 634px;
  margin: 0 auto;
}
@media (max-width: 528px) {
  .about__info {
    padding: 25px;
  }
}
.about__text {
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 142%;
  margin-bottom: 20px;
}
@media (max-width: 528px) {
  .about__text {
    font-size: 1.25rem;
  }
}
.about__subtext {
  font-size: 1rem;
  line-height: 212%;
  letter-spacing: 0.04em;
  color: #777;
}
@media (max-width: 528px) {
  .about__subtext {
    letter-spacing: normal;
  }
}
.about__image {
  position: relative;
  margin: 0 auto;
}
.about__image img {
  width: 100%;
}

.contacts {
  padding-top: 110px;
}
@media (max-width: 768px) {
  .contacts {
    padding-top: 60px;
  }
}
.contacts__title {
  font-weight: 600;
  font-size: 4.5625rem;
  line-height: 100%;
  letter-spacing: -0.02em;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .contacts__title {
    font-size: 2.5rem;
  }
}
@media (max-width: 528px) {
  .contacts__title {
    font-size: 1.5625rem;
    margin-bottom: 30px;
  }
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
@media (max-width: 768px) {
  .contacts__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
.contacts__item {
  max-width: 190px;
}
.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}
.contacts__item:last-child {
  margin-bottom: 114px;
}
.contacts__subtext {
  font-family: "Inter Tight", sans-serif;
  max-width: 114px;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
}
@media (max-width: 768px) {
  .contacts__subtext {
    text-align: center;
    margin: 0 auto;
  }
}
.contacts__map {
  width: 100%;
  height: 100%;
  max-width: 654px;
}
.contacts__map iframe {
  width: 100%;
}
.contacts__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 768px) {
  .contacts__links {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
.contacts__link {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-transform: lowercase;
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #151515;
}

.item-contacts__name {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: rgba(21, 21, 21, 0.4);
  margin-bottom: 8px;
}
.item-contacts__text {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: -0.02em;
  max-width: 183px;
}

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(81, 110, 255, 0.6);
  z-index: 100;
  overflow-y: auto;
}
@media (max-width: 528px) {
  .popup {
    background-color: #fff;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.popup__content {
  position: relative;
  border-radius: 20px;
  background-color: #fff;
  padding: 34px;
  max-width: 1100px;
  margin: 0px 20px;
}
@media (max-width: 528px) {
  .popup__content {
    position: static;
    padding: 10px;
    margin: 0px;
    margin-top: 35px;
  }
}
.popup__cross {
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 40px;
}
@media (max-width: 528px) {
  .popup__cross {
    top: 15px;
    right: 15px;
  }
}
.popup__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 121%;
  margin-bottom: 20px;
  max-width: 869px;
}
@media (max-width: 768px) {
  .popup__title {
    font-size: 1.875rem;
  }
}
.popup__text {
  font-size: 1.1875rem;
  line-height: 150%;
  margin-bottom: 60px;
  max-width: 550px;
}
@media (max-width: 528px) {
  .popup__text {
    font-size: 16px;
    margin-bottom: 30px;
  }
}
.popup__fields {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 528px) {
  .popup__fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.popup__field {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40%;
          flex: 1 0 40%;
}
.popup__label {
  line-height: 150%;
  margin-bottom: 10px;
}
@media (max-width: 528px) {
  .popup__label {
    font-size: 16px;
    margin-bottom: 8px;
  }
}
.popup__input {
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 12px;
  padding: 20px 24px;
  background-color: #f8fafc;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
  width: 100%;
}
.popup__input::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
.popup__input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
.popup__input:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
.popup__input::-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
.popup__input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
@media (max-width: 768px) {
  .popup__input {
    font-size: 16px;
  }
  .popup__input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .popup__input::-moz-placeholder {
    font-size: 16px;
  }
  .popup__input:-ms-input-placeholder {
    font-size: 16px;
  }
  .popup__input::-ms-input-placeholder {
    font-size: 16px;
  }
  .popup__input::placeholder {
    font-size: 16px;
  }
}
@media (max-width: 528px) {
  .popup__input {
    border-radius: 12px;
    padding: 16px 20px;
    font-size: 14px;
    line-height: 150%;
  }
  .popup__input::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__input::-moz-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__input:-ms-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__input::-ms-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__input::placeholder {
    font-size: 14px;
    line-height: 150%;
  }
}
.popup__select {
  border: 1px solid rgba(82, 82, 91, 0.1);
  border-radius: 12px;
  padding: 20px 24px;
  background-color: #f8fafc;
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
  width: 100%;
}
@media (max-width: 768px) {
  .popup__select {
    font-size: 16px;
  }
}
@media (max-width: 528px) {
  .popup__select {
    border-radius: 12px;
    padding: 16px 20px;
    font-size: 14px;
    line-height: 150%;
  }
  .popup__select::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__select::-moz-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__select:-ms-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__select::-ms-input-placeholder {
    font-size: 14px;
    line-height: 150%;
  }
  .popup__select::placeholder {
    font-size: 14px;
    line-height: 150%;
  }
}
.popup__option {
  font-size: 18px;
  line-height: 150%;
  color: rgba(21, 21, 21, 0.6);
}
@media (max-width: 768px) {
  .popup__option {
    font-size: 16px;
  }
}
@media (max-width: 528px) {
  .popup__option {
    font-size: 14px;
  }
}
.popup__button {
  cursor: pointer;
  border-radius: 9px;
  padding: 20px 24px;
  display: inline;
  background-color: #516EFF;
  line-height: 108%;
  color: #fff;
}
@media (max-width: 528px) {
  .popup__button {
    border-radius: 9px;
    padding: 16px 20px;
    font-size: 18px;
    line-height: 120%;
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}