.header {
    padding-top: 44px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 37px;
    }

    &__nav {
        padding-right: 37px;
        border-right: 1px solid #d4d4d8;
    }

    &__list {
        display: flex;
        align-items: center;
        gap: 37px;
    }

    &__link {
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: rem(16);
        line-height: 133%
    }

    &__button {
        border-radius: 9px;
        padding: 14px;
        background-color: $accent;
    }

    &__button-link {
        font-weight: 500;
        font-size: rem(16);
        line-height: 133%;
        color: $white;
    }
}