.home {
    padding: 60px 0px;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
    }

    &__content {
        max-width: 518px;
        margin: 0 auto;

        @media (max-width: 528px) {
            text-align: center;
        }
    }

    &__title {
        font-family: "Inter Tight", sans-serif;
        font-weight: 600;
        font-size: rem(46);
        line-height: 110%;
        letter-spacing: -0.02em;
        color: $accent;
        margin-bottom: 20px;

        @media (max-width: 528px) {
            font-size: rem(35);
        }
    }

    &__text {
        font-family: "Inter Tight", sans-serif;
        font-weight: 500;
        font-size: rem(30);
        line-height: 110%;
        letter-spacing: -0.02em;
        margin-bottom: 20px;

        @media (max-width: 528px) {
            font-size: rem(22);
        }
    }

    &__subtext {
        font-family: "Inter Tight", sans-serif;
        color: $gray;
        max-width: 470px;
        font-size: 19px;
        line-height: 150%;

        @media (max-width: 528px) {
            font-size: 16px;
        }
    }

    &__info {
        position: relative;
        margin: 0 auto;

        img {
            width: 100%;
        }
    }

    &__icon {
        position: absolute;
        width: 84px;
        height: 84px;
        bottom: -30px;
        right: 0px;
    }
}