.how {
    padding: 64px 0px;
    background-color: $accent;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 35px;
    }
    
    &__info {
        margin: 0 auto;
        max-width: 345px;
        color: $white;
    }
    
    &__title {
        font-weight: 600;
        font-size: rem(42);
        line-height: 110%;
        margin-bottom: 16px;
        
        @media (max-width: 528px) {
            text-align: center;
            font-size: rem(32);
        }
    }
    
    &__text {
        font-weight: 500;
        font-size: rem(22);
        line-height: 145%;

        @media (max-width: 528px) {
            font-size: rem(18);
            text-align: center;
        }
    }
    
    &__content {
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 48px;
        align-items: stretch;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        border-radius: 16px;
        padding: 24px 32px;
        background-color: $white;
        text-align: center;
        max-width: 240px;
    }

    &__desc {
        font-weight: 600;
        font-size: rem(18);
        color: $gray;
        line-height: 133%;
    }

    &__icon {
        margin-bottom: 16px;
    }
}