.blue {
    color: $accent;
}

.line {
    margin-bottom: 100px;
    width: 100%;
    max-width: 1000px;
    margin-inline: auto;
    height: 1px;
    background-color: #bcbcbc;

    @media (max-width: 768px) { 
        margin-bottom: 40px;
    }
}

.split {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1.2s ease-out;
}

.splitVisible {
  opacity: 1;
  transform: translateY(0);
}